body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header{
    width: 100vw;
    background-color: #2a2929;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    font-size: 20px;
    font-weight: normal;

}

main {
    width: 90%;
    max-width: 600px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

h2 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #555;
}

#task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#task-form label {
    font-weight: bold;
    font-size: 0.9rem;
}

#task-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.btn-add {
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-add:hover {
    background-color: #004494;
}

#todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    transition: background-color 0.2s;
}

.task-item:hover {
    background-color: #ed8b82;
}

.task-text {
    font-size: 1rem;
}

.del-btn {
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

