<div class="product-card">
  <img [src]="product().image" alt="product image">
  <h3>{{ product().name }}</h3>
  <p>{{ product().description }}</p>
  <p>Price: {{ product().price }} ₸</p>
  <p>Rating: ⭐ {{ product().rating }}</p>

  <div class="actions">
    <button (click)="like()">❤ {{ product().likes }}</button>
    
    <button (click)="share('wa')" class="wp">WhatsApp</button>
    <button (click)="share('tg')" class="tg">Telegram</button>
    
    <button (click)="delete()" class="btn-delete">🗑 Delete</button>
  </div>
</div>