.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Тень для объема  */
  padding: 15px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px); /* Эффект при наведении  */
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain; /* Чтобы фото с Kaspi не обрезались [cite: 46] */
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

.price {
  color: #e21c1c; /* Красный цвет для цены, как на Kaspi  */
  font-size: 1.5rem;
  font-weight: bold;
}