<div class="card">
  <img [src]="product.image" [alt]="product.name" class="main-img">
  
  <div class="content">
    <h3>{{ product.name }}</h3> <p>{{ product.description }}</p>
    
    <div class="info">
      <span class="price">{{ product.price | number }} ₸</span>
      <span class="rating">⭐ {{ product.rating }}</span> </div>

    <div class="buttons">
      <a [href]="product.link" target="_blank" class="buy-link">Купить на Kaspi</a>
      
      <button (click)="share()" class="share-btn">Telegram</button>
    </div>
  </div>
</div>